@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.container {
  font-family: 'Poppins', Helvetica, sans-serif;
  --pcolor: #F7931E;
  
}
.bgcontainer {
  height: 100vh;
  background-color: rgb(200, 100, 0) ;
  background-image: url('/indexbg3.png');
  opacity: 80%;
  position: fixed;
  z-index: -2;
  width: 100vw ;
  top: 0;
  left: 0;
}  

.bgcontainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(186, 127, 1, 0.378); 
  z-index: -1;
  mix-blend-mode: multiply;

}
  
  .header {
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: rgba(255, 161, 107, 0.618);
    background: linear-gradient(to right,rgba(255, 161, 107, 0.618), transparent 60%);
    position: absolute;
  }
  .header img {
    /* position: relative;
    left: 6%;
    top: 20%; */
    height: auto;
    width: 14vw;
    margin: 25px 25px 25px 125px;
  }


  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: absolute;
    top: 22%;

  }
  
  .left{
    padding-left: 20px;
  }


  .left img {
    max-width: 90%;
    
    height: auto;
    padding: 0 0px 0px 0px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
  }
  
  .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px;
    margin-left: 4%;
  }
  
.right h1 {
    color: aliceblue;
    font-size: 4rem;
}

.right p {
    font-size: 25px;
    color: aliceblue;
}

    .button1 {
        height: 80px;
        width: 300px;
        outline: 0;
        font-size: 25px;
        font-weight: 600;
        border-radius: 30px;
        background-color: var(--pcolor);
        color: aliceblue;
        border: 0;
        border: 0;
        box-shadow: 0 0 12px rgb(0, 0, 0, 0.2);
        transition: transform 0.2s, box-shadow 0.2s;
    }    

    .button1:hover {
      box-shadow: 0 0 12px var(--pcolor);
      transform: translateY(-2px);
      
    }
    
    .button1:active {
      color: var(--pcolor);
      background-color: aliceblue;
      box-shadow: 0 0 12px #F7931E
    }


    .button2 {
        height: 80px;
        width: 300px;
        outline: 0;
        font-size: 25px;
        font-weight: 600;
        border-radius:  30px;
        border: 0;
        box-shadow: 0 0 12px rgb(0, 0, 0, 0.2);
        /* border: solid;
        border-color: #F7931E;
        border-width: 3px; */
        color: var(--pcolor);
        /* position: absolute;
        right: 10%; */
        transition: transform 0.2s, box-shadow 0.2s;

    }

    .button2:hover {
      box-shadow: 0 0 12px var(--pcolor);
      transform: translateY(-2px);
    }

    .button2:active {
      background-color: var(--pcolor);
      color: aliceblue;
      box-shadow: 0 0 12px var(--pcolor)
    }
    
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    padding-top: 40px;
    position: relative;
    width: 90%;


  }
  





  /* @media (max-width: 1400px){
    

      .main {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 50px;
        place-items: center;
    
      }
      
      .left img {
        max-width: 60vw;
        height: auto;
        padding: 0;
        place-items: center;
    
        
      }



      .right h1{
        text-align: center;
      }
      .right p{
        text-align: center;
      }
      
      .right{
        width: 60%;
        margin-right: 0;
      }
      .btn {

        justify-content: space-evenly;
        
        padding-top: 30px;
        width: 100%;
      }
      


  } */
  
  @media (max-width: 1400px){

    .main {
      top: 16%;
    }

    .header {
      display: flex;
      align-items: center;
      width: 100vw;
      height: 90px;
      position: absolute;
    }

    .header img {
      height: auto;
      width: 180px;
      margin: 25px 25px 25px 110px;
    }


    .right h1{
      font-size: 35px;
    }

    .right p {
      font-size: 19px;
  }


    .button1 {
      height: 60px;
      width: 200px;
      font-size: 20px;
      border-radius: 20px;
  }    


    .button2 {
      height: 60px;
      width: 200px;
      font-size: 20px;
      border-radius:  20px;

    }
  

  }

  

  /* @media (max-width: 1850px){

    
    .btn{
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: center;
      gap: 20px;
      position: relative;
      width: 100%;
      padding-top: 20px;
  
    }

    .button1{
      height: 60px;
      width: 250px;
    }

    .button2{
      height: 60px;
      width: 250px;
      position: relative;
      right: 0;

    }
  } */
  